* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

button, input[list="states"]{
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}